<div class="icon">
  <img
    class="icon-image"
    src="/images/logo.png"
    alt="logo"
  />
</div>
<nav id="nav-bar">
  <button id="home-button">Home</button>
  <button id="movies-button">Movies</button>
  <button id="songs-button">Songs</button>
  <button id="users-button">Users</button>
</nav>
