<!-- layout.ejs -->
<html>
  <head>
    <title><%= title %></title>
    <style>
        * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }
        html, body {
            height: 100%;
        }
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
        .icon {
            height: 60px;
            width: 100%;
            background-color: #000000e2;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .icon-image {
            height: 60px;
            width: 60px;
        }
        #nav-bar {
            height: 50px;
            width: 100%;
            background-color: lightslategrey;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
        #nav-bar button {
            background-color: white;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            font-size: 16px;
            transition: background-color 0.3s;
        }
        #nav-bar button:hover {
            background-color: darkgray;
        }
        main {
            flex: 1;
        }
        footer {
            background-color: lightgrey;
            text-align: center;
            padding: 10px;
        }
    </style>
  </head>   
  <body>
    <header>
      <div class="icon">
        <img class="icon-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwHAYFWBoVyxtC9IJF_jG6kKQjCQzd_M1RMw&s" alt="logo" />
      </div>
      <nav id="nav-bar">
        <button>Movies</button>
        <button>Songs</button>
        <button>Users</button>
      </nav>
    </header>
    <main>
      <%- body %>
    </main>
    <footer>
      this is my footer
    </footer>
  </body>
</html>
